{% extends "base.html" %}
{% set active_page = "Listen" %}
{% block content %}

<section class="section-content" id="section-listen">
<div class="container">
<div class="row">
<div class="span12">
<div class="row">
<div class="span6 offset2">

<div id="search">
    <form action="{[ url_for('search') ]}" method="POST">
        <select name="query_type">
            <option value="song">Song</option>
            <option value="artist">Artist</option>
            <option value="album">Album</option>
            <option value="genre">Genre</option>
        </select>
        <input type="text" width="40" name="query_string" />
        <button type="submit" name="submit" value="Search" />
    </form>
</div>

<div id="now-playing">
    <p>Now Playing: A Song   by   A Band  </p>
    <p>Their Album (2011) </p>
</div>

<center>
<br /> <br /> <br /> <br /> <br />
<form action="/listen/pause" method="post">
    <input type="submit" name="submit" value="Pause"/>
</form>

<div id="thumbs-up-div">
    <button id="thumbs-up">Thumbs UP!</button>
</div>

<br />
<form action="/listen/tdn" method="post">
    <input type="submit" name="submit" value="Not so much"/>
</form>
<br />
<br />
<form action="/listen/skip" method="post">
    <input type="submit" name="submit" value="Skip"/>
</form>

</center>
<br /> <br /> <br /> <br /> <br />
<div id="playlist">
    <p>Playlist</p>
    <div class="flash"><pre>{{ event_json }}</pre></div><br/>
</div>

</div>
</div>
</div>
</div>
</div>
</section>

<script type="text/javascript">
    $("#thumbs-up").click( function(e) {
            alert("THUMBS UP!");
            $.ajax({
                url: "/listen/event"
                type: "POST"
                data: {"user": "{{ user }}", "event": "tup", "songid": "{{ songid }}"}
            });
</script>

{% endblock %}

