{% extends "base.html" %}
{% set active_page = "Listen" %}
{% block content %}
<script type="text/javascript">
var event_data = ({
    "user": "{{ event['userid'] }}"
});
</script>

<div class="container">
<div class="row">
<div class="span12">
<div class="row">
<div class="span6 offset2">

<section class="section-content" id="section-listen">
<div id="search-div">
    <select name="query_type">
        <option value="song">Song</option>
        <option value="artist">Artist</option>
        <option value="album" disabled="disabled">Album</option>
        <option value="genre" disabled="disabled">Genre</option>
    </select>
    <input type="text" size="40" name="query_string" />
    <input id="search-btn" class="btn" type="submit" name="submit" value="Search" />
</div>

<div id="now-playing">
    <p>Now Playing: {{ current['song'] }}   by   {{ current['artist'] }}  </p>
    <p>{{ current['album'] }} ({{ current['year'] }}) </p>
</div>

<div id="song-img">
    <img src="{{ current['image'] }}" alt="Band Image" width="300" height="250">
</div>

<div id="audio-div">
    <audio id="audio-id">
        <source id="audio-source" src="http://davidbianco.net/chaser/CHASER_permanentpast.mp3" type="audio/mpeg">
        Your browser does not support the HTML5 audio element.
    </audio>
    <div id="audio-controls">
        <button id="audio-playpause" style="display: inline">Play</button>
        <button id="audio-thumbs-up" style="display: inline">Thumbs Up</button>
        <button id="audio-thumbs-dn" style="display: inline">Thumbs Down</button>
        <button id="audio-skip">Skip</button>
    </div>
    <div id="audio-volume"></div>
</div>

<div id="playlist-div">
    <p>Playlist</p>
    <pre id="playlist"></pre>
</div>
<div id="event-json-div">
    <p>Last Event Message</p>
    <pre id="event-json"></pre>
</div>

</section>
</div>
</div>
</div>
</div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='musicbox.js') }}"></script>
{% endblock %}

