{% extends "base.html" %}
{% set active_page = "Listen" %}
{% block content %}

<section class="section-content" id="section-listen">
<div class="container">
<div class="row">
<div class="span12">
<div class="row">
<div class="span6 offset2">

<div id="search">
    <form action="{{ url_for('search') }}" method="POST">
        <select name="query_type">
            <option value="song">Song</option>
            <option value="artist">Artist</option>
            <option value="album">Album</option>
            <option value="genre">Genre</option>
        </select>
        <input type="text" size="40" name="query_string" />
        <input class="btn" type="submit" name="submit" value="Search" />
    </form>
</div>

<div id="now-playing">
    <p>Now Playing: {{ current['song'] }}   by   {{ current['band'] }}  </p>
    <p>{{ current['album'] }} ({{ current['year'] }}) </p>
</div>

<br /> <br /> <br /> <br /> <br />
<div id="audio">
<audio controls>
    <source src="song.mp3" type="audio/mpeg">
Your browser does not support the HTML5 audio element.
</audio>
</div>
<div id="song-img">
    <img src="{{ current['image'] }}" alt="Band Image">
</div>
<!--
<form action="/listen/pause" method="post">
    <input type="submit" name="submit" value="Pause"/>
</form>
-->

<div id="thumbs-up-div">
    <button id="thumbs-up">Thumbs UP!</button>
</div>

<div id="thumbs-dn-div">
    <button id="thumbs-dn">Thumbs Down</button>
</div>

<div id="skip-div">
    <button id="skip">Skip</button>
</div>

<br/>
<div id="playlist">
    <p>Playlist</p>
    <div class="flash"><pre>{{ event_json }}</pre></div><br/>
</div>

</div>
</div>
</div>
</div>
</div>
</section>

<script type="text/javascript">
    jQuery("#thumbs-up").click( function(e) {
            alert("THUMBS UP!");
            jQuery.ajax({
                url: "/event",
                type: "POST",
                data: {"user": "{{ event['user'] }}", "event": "tup", "songid": "{{ event['songid'] }}"}
                });
            });
</script>

{% endblock %}

